
.btn{
  @include border-radius(0.5vw * $scale);
  background-color: $gray;
  padding: 0.5vw * $scale 1vw * $scale;
  max-width: 15vw * $scale;
  min-width: 7vw * $scale;
  display: inline-block;
  margin: 1vw * $scale 0.5vw * $scale;
  span{
    font-size: 1.5vw * $scale !important;
    font-family: Roboto-Medium !important;
  }
}

.btn-disabled{
  span{
    color: $light-gray;
  }
}

.btn-bordered{
  border: 1px solid white;
}